$basemeasure: 6px
$basegray: #cccccc
$bordercolor: #9f9f9f
$darkgray: #9a9a9a
$midgray: #bcbcbc
$brightgray: #e5e5e5


body

ul
  :margin 0
  :padding 0
  :list-style-type none
  :list-style-position inside
  li
    :margin 0
    :padding 0

.clear
  :clear both

.gradient
  :background $brightgray /* Old browsers */
  :background -moz-linear-gradient(top, $brightgray 0%, $midgray 50%) /* FF3.6+ */
  :background -webkit-gradient(linear, left top, left bottom, color-stop(0%,$brightgray), color-stop(50%,$midgray)) /* Chrome,Safari4+ */
  :background -webkit-linear-gradient(top, $brightgray 0%,$midgray 50%) /* Chrome10+,Safari5.1+ */
  :background -o-linear-gradient(top, $brightgray 0%,$midgray 50%) /* Opera11.10+ */
  :background -ms-linear-gradient(top, $brightgray 0%,$midgray 50%) /* IE10+ */
  :filter progid:DXImageTransform.Microsoft.gradient( startColorstr='$brightgray', endColorstr='$midgray',GradientType=0 ) /* IE6-9 */
  :background linear-gradient(top, $brightgray 0%,$midgray 50%) /* W3C */

.reverse_gradient
  :background $brightgray /* Old browsers */
  :background -moz-linear-gradient(top, $midgray 70%, $darkgray 100%) /* FF3.6+ */
  :background -webkit-gradient(linear, left top, left bottom, color-stop(70%,$midgray), color-stop(100%,$darkgray)) /* Chrome,Safari4+ */
  :background -webkit-linear-gradient(top, $midgray 70%,$darkgray 100%) /* Chrome10+,Safari5.1+ */
  :background -o-linear-gradient(top, $midgray 70%,$darkgray 100%) /* Opera11.10+ */
  :background -ms-linear-gradient(top, $midgray 70%,$darkgray 100%) /* IE10+ */
  :filter progid:DXImageTransform.Microsoft.gradient( startColorstr='$midgray', endColorstr='$darkgray',GradientType=0 ) /* IE6-9 */
  :background linear-gradient(top, $midgray 70%,$darkgray 100%) /* W3C */


#whisper
  :width 500px
  :margin auto
  
  // Navigation settings
  ul#navigation
    :margin $basemeasure*4 0

    li
      :display inline
      :margin-left -5px
      
      a
        :padding $basemeasure*2 $basemeasure*4
        :border 1px solid $bordercolor
        @extend .gradient      
        &#first
          :border-top-left-radius $basemeasure * 3
          :border-bottom-left-radius $basemeasure * 3
        &#last
          :border-top-right-radius $basemeasure * 3
          :border-bottom-right-radius $basemeasure * 3
  
  // End of Navigation settings
  
  // Main content settings
  h2
    :font-size $basemeasure*2

  ul.devicelist
    :width 100%
    li.device
      :margin $basemeasure*2 0
      .deviceheader
        :padding $basemeasure*2
        :background-color $basegray
        @extend .gradient
        :border 1px solid $bordercolor
        :border-bottom none
        :border-top-left-radius $basemeasure * 3
        :border-top-right-radius $basemeasure * 3
        a
          :padding $basemeasure*2
        .state
          :font-size 12px
          :display inline
          :float right
      .deviceslideout
        :height 0
        :overflow hidden
        :border-left 1px solid $bordercolor
        :border-right 1px solid $bordercolor
        :background-color $midgray
      .deviceoptions
        :width 480px-$basemeasure*2
        :height 100%
        :padding $basemeasure
        :margin 0 8px
        :border 1px solid $bordercolor
        :background-color $brightgray
      
      .switch
        :width 249px
        :float left
        :background-color $basegray
        @extend .reverse_gradient
        :border 1px solid $bordercolor
        :border-top none
        :text-align center
        :padding $basemeasure*4 0
        &.on
          :border-bottom-left-radius $basemeasure * 3
          :border-right none
        &.off
          :border-bottom-right-radius $basemeasure * 3
          :border-left none
  form
    label
      :margin-top $basemeasure*2
      :margin-right $basemeasure*2

  #notice
    :height $basemeasure*4