$basemeasure: 6px
$basegray: #cccccc

body

ul
  :margin 0
  :padding 0
  :list-style-type none
  :list-style-position inside
  li
    :margin 0
    :padding 0

.clear
  :clear both

#whisper
  :width 500px
  :margin auto
  
  // Navigation settings
  ul#navigation
    :margin $basemeasure*4 0

    li
      :display inline
      :margin-left -5px
      
      a
        :padding $basemeasure*2 $basemeasure*4
        :background #e5e5e5 /* Old browsers */
        :border 1px solid #9f9f9f
        :background -moz-linear-gradient(top, #e5e5e5 0%, #bcbcbc 100%) /* FF3.6+ */
        :background -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#bcbcbc)) /* Chrome,Safari4+ */
        :background -webkit-linear-gradient(top, #e5e5e5 0%,#bcbcbc 100%) /* Chrome10+,Safari5.1+ */
        :background -o-linear-gradient(top, #e5e5e5 0%,#bcbcbc 100%) /* Opera11.10+ */
        :background -ms-linear-gradient(top, #e5e5e5 0%,#bcbcbc 100%) /* IE10+ */
        :filter progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#bcbcbc',GradientType=0 ) /* IE6-9 */
        :background linear-gradient(top, #e5e5e5 0%,#bcbcbc 100%) /* W3C */
      
        &#first
          :border-top-left-radius $basemeasure * 3
          :border-bottom-left-radius $basemeasure * 3
        &#last
          :border-top-right-radius $basemeasure * 3
          :border-bottom-right-radius $basemeasure * 3
  
  // End of Navigation settings
  
  // Main content settings
  h2
    :font-size $basemeasure*2

  ul.devicelist
    :width 100%
    li.device
      :margin $basemeasure*2 0
      .deviceheader
        :padding $basemeasure*2
        :background-color $basegray
        :border 1px solid #9f9f9f
        :border-bottom none
        :border-top-left-radius $basemeasure * 3
        :border-top-right-radius $basemeasure * 3
        a
          :padding $basemeasure*2
        .state
          :font-size 12px
          :display inline
          :float right
      .switch
        :width 249px
        :float left
        :background-color $basegray
        :border 1px solid #9f9f9f
        :border-top none
        :text-align center
        :padding $basemeasure*4 0
        &.on
          :border-bottom-left-radius $basemeasure * 3
          :border-right none
        &.off
          :border-bottom-right-radius $basemeasure * 3
          :border-left none
  form
    label
      :margin-top $basemeasure*2
      :margin-right $basemeasure*2

  #notice
    :height $basemeasure*4