ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: inside; }
  ul li {
    margin: 0;
    padding: 0; }

.clear {
  clear: both; }

.gradient, #whisper ul#navigation li a, #whisper ul.devicelist li.device .deviceheader {
  background: #e5e5e5;
  background: -moz-linear-gradient(top, #e5e5e5 0%, #bcbcbc 50%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(50%, #bcbcbc));
  background: -webkit-linear-gradient(top, #e5e5e5 0%, #bcbcbc 50%);
  background: -o-linear-gradient(top, #e5e5e5 0%, #bcbcbc 50%);
  background: -ms-linear-gradient(top, #e5e5e5 0%, #bcbcbc 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$brightgray', endColorstr='$midgray',GradientType=0 );
  background: linear-gradient(top, #e5e5e5 0%, #bcbcbc 50%); }

.reverse_gradient, #whisper ul.devicelist li.device .switch {
  background: #e5e5e5;
  background: -moz-linear-gradient(top, #bcbcbc 70%, #9a9a9a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, #bcbcbc), color-stop(100%, #9a9a9a));
  background: -webkit-linear-gradient(top, #bcbcbc 70%, #9a9a9a 100%);
  background: -o-linear-gradient(top, #bcbcbc 70%, #9a9a9a 100%);
  background: -ms-linear-gradient(top, #bcbcbc 70%, #9a9a9a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$midgray', endColorstr='$darkgray',GradientType=0 );
  background: linear-gradient(top, #bcbcbc 70%, #9a9a9a 100%); }

#whisper {
  width: 500px;
  margin: auto; }
  #whisper ul#navigation {
    margin: 24px 0; }
    #whisper ul#navigation li {
      display: inline;
      margin-left: -5px; }
      #whisper ul#navigation li a {
        padding: 12px 24px;
        border: 1px solid #9f9f9f; }
        #whisper ul#navigation li a#first {
          border-top-left-radius: 18px;
          border-bottom-left-radius: 18px; }
        #whisper ul#navigation li a#last {
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px; }
  #whisper h2 {
    font-size: 12px; }
  #whisper ul.devicelist {
    width: 100%; }
    #whisper ul.devicelist li.device {
      margin: 12px 0; }
      #whisper ul.devicelist li.device .deviceheader {
        padding: 12px;
        background-color: #cccccc;
        border: 1px solid #9f9f9f;
        border-bottom: none;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px; }
        #whisper ul.devicelist li.device .deviceheader a {
          padding: 12px; }
        #whisper ul.devicelist li.device .deviceheader .state {
          font-size: 12px;
          display: inline;
          float: right; }
      #whisper ul.devicelist li.device .deviceslideout {
        height: 0;
        overflow: hidden;
        border-left: 1px solid #9f9f9f;
        border-right: 1px solid #9f9f9f;
        background-color: #bcbcbc; }
      #whisper ul.devicelist li.device .deviceoptions {
        width: 468px;
        height: 100%;
        padding: 6px;
        margin: 0 8px;
        border: 1px solid #9f9f9f;
        background-color: #e5e5e5; }
      #whisper ul.devicelist li.device .switch {
        width: 249px;
        float: left;
        background-color: #cccccc;
        border: 1px solid #9f9f9f;
        border-top: none;
        text-align: center;
        padding: 24px 0; }
        #whisper ul.devicelist li.device .switch.on {
          border-bottom-left-radius: 18px;
          border-right: none; }
        #whisper ul.devicelist li.device .switch.off {
          border-bottom-right-radius: 18px;
          border-left: none; }
  #whisper form label {
    margin-top: 12px;
    margin-right: 12px; }
  #whisper #notice {
    height: 24px; }
