html {
  height: 101%; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: inside; }
  ul li {
    margin: 0;
    padding: 0; }

a {
  color: #3f3f3f; }
  a:hover {
    text-decoration: none;
    color: #3f3f3f; }

.clear {
  clear: both; }

.whisper {
  width: 500px;
  margin: auto;
  background-color: silver; }
  .whisper ul#navigation {
    margin: 24px 0; }
    .whisper ul#navigation li a {
      float: left;
      width: 117px;
      padding: 12px 24px;
      border: 1px solid #9f9f9f;
      background: #e1e1e1;
      background: -moz-linear-gradient(top, #e1e1e1 0%, #bcbcbc 10%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1e1e1), color-stop(10%, #bcbcbc));
      background: -webkit-linear-gradient(top, #e1e1e1 0%, #bcbcbc 10%);
      background: -o-linear-gradient(top, #e1e1e1 0%, #bcbcbc 10%);
      background: -ms-linear-gradient(top, #e1e1e1 0%, #bcbcbc 10%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$brightgray', endColorstr='$midgray',GradientType=0 );
      background: linear-gradient(top, #e1e1e1 0%, #bcbcbc 10%); }
      .whisper ul#navigation li a#first {
        border-right: 0;
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px; }
      .whisper ul#navigation li a#last {
        border-left: 0;
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px; }
  .whisper h2 {
    font-size: 12px; }
  .whisper ul.devicelist {
    width: 100%; }
    .whisper ul.devicelist li.device {
      margin: 24px 0; }
      .whisper ul.devicelist li.device .deviceheader {
        padding: 12px;
        background-color: #cccccc;
        background: #e1e1e1;
        background: -moz-linear-gradient(top, #e1e1e1 0%, #bcbcbc 10%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1e1e1), color-stop(10%, #bcbcbc));
        background: -webkit-linear-gradient(top, #e1e1e1 0%, #bcbcbc 10%);
        background: -o-linear-gradient(top, #e1e1e1 0%, #bcbcbc 10%);
        background: -ms-linear-gradient(top, #e1e1e1 0%, #bcbcbc 10%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$brightgray', endColorstr='$midgray',GradientType=0 );
        background: linear-gradient(top, #e1e1e1 0%, #bcbcbc 10%);
        border: 1px solid #9f9f9f;
        border-bottom: 0px solid #9f9f9f;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px; }
        .whisper ul.devicelist li.device .deviceheader h1 {
          text-align: center;
          width: 100%;
          font-weight: normal;
          font-size: 24px;
          margin: 0; }
        .whisper ul.devicelist li.device .deviceheader a {
          padding: 12px; }
        .whisper ul.devicelist li.device .deviceheader .state {
          font-size: 12px;
          display: inline;
          float: right; }
      .whisper ul.devicelist li.device .deviceslideout {
        height: 0;
        overflow: hidden;
        border-left: 1px solid #9f9f9f;
        border-right: 1px solid #9f9f9f;
        background-color: #5f5f5f; }
      .whisper ul.devicelist li.device .deviceoptions {
        width: 468px;
        height: 64px;
        padding: 6px;
        margin: 12px 8px;
        border: 1px solid #9f9f9f;
        background-color: #e1e1e1; }
      .whisper ul.devicelist li.device .switch {
        width: 249px;
        float: left;
        background-color: #cccccc;
        background: #e1e1e1;
        background: -moz-linear-gradient(top, #bcbcbc 90%, #9f9f9f 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #bcbcbc), color-stop(100%, #9f9f9f));
        background: -webkit-linear-gradient(top, #bcbcbc 90%, #9f9f9f 100%);
        background: -o-linear-gradient(top, #bcbcbc 90%, #9f9f9f 100%);
        background: -ms-linear-gradient(top, #bcbcbc 90%, #9f9f9f 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$midgray', endColorstr='$darkgray',GradientType=0 );
        background: linear-gradient(top, #bcbcbc 90%, #9f9f9f 100%);
        border: 1px solid #9f9f9f;
        text-align: center;
        font-size: 18px;
        padding: 18px 0; }
        .whisper ul.devicelist li.device .switch.on {
          border-bottom-left-radius: 18px;
          border-right: none; }
        .whisper ul.devicelist li.device .switch.off {
          border-bottom-right-radius: 18px;
          border-left: none; }
  .whisper form label {
    margin-top: 12px;
    margin-right: 12px; }
  .whisper #notice {
    height: 24px; }
