List of Remote Switches known to Whisper: <br />
<ul>
  <% @remote_switches.each do |f| %>
    <li>
      <strong><%= link_to f.label, remote_switch_path(f) %></strong><br />
      <%= f.location %><br />
      <%= link_to 'Turn on', on_remote_switch_path(f) %>
      <%= link_to 'Turn off', off_remote_switch_path(f) %>
    </li>
  <% end %>
</ul>