<ul id="navigation">
  <li><%= link_to 'All Devices', devices_path, :id => 'first' %></li>
  <li><%= link_to 'Schedule', events_path %></li>
  <li><%= link_to 'Create new device', new_device_path, :id => 'last' %></li>
</ul>
<div class="clear"></div>